<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pgc.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <pgc.Business.Properties.Settings>
            <setting name="pgc_Business_Magfa_SoapSmsQueuableImplementationService"
                serializeAs="String">
                <value>http://sms.magfa.com/services/urn:SOAPSmsQueue</value>
            </setting>
            <setting name="pgc_Business_ir_shaparak_sep_PaymentIFBinding"
                serializeAs="String">
                <value>https://sep.shaparak.ir/payments/referencepayment.asmx</value>
            </setting>
            <setting name="pgc_Business_com_ppanel_api_Send" serializeAs="String">
                <value>http://api.payamak-panel.com/post/Send.asmx</value>
            </setting>
            <setting name="pgc_Business_com_ppanel_api_Send1" serializeAs="String">
                <value>http://api.payamak-panel.com/post/Send.asmx</value>
            </setting>
            <setting name="pgc_Business_ir_shaparak_sep_PaymentIFBinding1"
                serializeAs="String">
                <value>https://sep.shaparak.ir/payments/referencepayment.asmx</value>
            </setting>
            <setting name="pgc_Business_Magfa_SoapSmsQueuableImplementationService1"
                serializeAs="String">
                <value>http://sms.magfa.com/services/urn:SOAPSmsQueue</value>
            </setting>
            <setting name="pgc_Business_ir_shaparak_bpm_PaymentGatewayImplService"
                serializeAs="String">
                <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
            </setting>
        </pgc.Business.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>