@charset "utf-8";
/* مستر دیزی */

body {
	background-image: url(../mrDiziPix/mrbg.jpg);
	background-color: #D5D6D8;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
}
.fontClass{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: justify;
	direction: rtl;
}

@font-face {
  font-family: 'BMitra';
  src: url('webfont/BMitra.eot?#') format('eot'),  /* IE6–8 */
       url('webfont/BMitra.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('webfont/BMitra.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
 
}

.BMitra {
	font-family: BMitra, Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.detail{ display:none; }

#mrdizi {
	position:relative;
	width:900px;
	z-index:2;
	margin: auto;
}
#menu {
	position:absolute;
	width:905px;
	height:383px;
	z-index:2;
	background-image: url(../mrDiziPix/fantasticMenu.png);
	background-repeat: no-repeat;
}
#head {
	position:absolute;
	width:100%;
	height:26px;
	z-index:1;
	left: 0px;
	top: 0px;
	background-image: url(../mrDiziPix/bgtop.png);
}
#slogan {
	position:absolute;
	width:886px;
	height:101px;
	z-index:3;
	top: 386px;
	background-image: url(../mrDiziPix/slogan.png);
	left: 46px;
}
#imageSlidingMrDizi {
	position:absolute;
	width:939px;
	height:262px;
	z-index:6;
	left: -28px;
	top: 456px;
	background-image: url(../mrDiziPix/sliderBg.png);
}
#items {
	position:absolute;
	width:887px;
	height:216px;
	z-index:1;
	left: 41px;
	top: 35px;
}
#register {
	position:absolute;
	width:876px;
	height:389px;
	z-index:5;
	left: 136px;
	top: 271px;
	background-image: url(../mrDiziPix/goshtkob.jpg);
}
#PiazOSabzi {
	position:absolute;
	width:100px;
	height:88px;
	z-index:2;
	background-image: url(../mrDiziPix/piazosabzy.png);
	background-repeat: no-repeat;
	left: 859px;
	top: 193px;
}

input[id="uname"], input[id="upass"], input[id="diziEnter"]{
	position:absolute;
	width:107px;
	height:18px;
	background: url('../mrDiziPix/regfilled.gif') no-repeat left top;
	border:none;
	font-size:7pt;
	padding-bottom:5px;
	text-align: center;
	color: #fec10e;
	left: 245px;
	top: 301px;
}

input[id="upass"]{
	left: 245px;
	top: 329px;
}

input[id="diziEnter"]{
	width:60px;
	height:20px;
	background: url('../mrDiziPix/diziEnter.gif') no-repeat left top;
	left: 290px;
	top: 356px;
	cursor: pointer;
}

#regDetail {
	position:absolute;
	width:113px;
	height:34px;
	z-index:1;
	left: 237px;
	top: 383px;
	font-size: 7pt;
}
#headline_news {
	position:absolute;
	width:742px;
	height:62px;
	z-index:6;
	left: 80px;
	top: 1181px;
	background-image: url(../mrDiziPix/newsBar.gif);
}
#headlines {
	position:absolute;
	width:562px;
	height:14px;
	z-index:1;
	left: 125px;
	top: 9px;
	text-align: right;
	color: #fff;
	font-size: 8pt;
}
#footer {
	position:absolute;
	width:627px;
	height:56px;
	z-index:7;
	left: 54px;
	top: 1254px;
	background-image: url(../mrDiziPix/footer.gif);
	padding-right: 50px;
	color: #8a8a8a;
	font-size: 8pt;
	text-align: center;
	padding-left: 60px;
	line-height: 11pt;
	padding-top: 5px;
	padding-bottom: 12px;
}

#footer a:link, #navTitle a:link{
	color: #8a8a8a;
	text-decoration:none;

} 

#footer a:hover, #navTitle a:hover{
	color: #5e040c;
	border-bottom: 1px dashed #fec10e;
	padding-bottom:2px;
	
} 

#footer a:visited, #navTitle a:visited{
	color: #8a8a8a;
	text-decoration:none;
	
}

#footer a:active, #navTitle a:active{
	color: #5e040c;
	border-bottom: 1px dashed #3d6453;
	padding-bottom:2px;
}

#onlineServices {
	position:absolute;
	width:84px;
	height:22px;
	z-index:1;
	left: 155px;
	top: 162px;
}
#product {
	position:absolute;
	width:60px;
	height:17px;
	z-index:2;
	left: 221px;
	top: 235px;
}
#contact {
	position:absolute;
	width:49px;
	height:29px;
	z-index:3;
	left: 317px;
	top: 256px;
}
#agance {
	position:absolute;
	width:79px;
	height:37px;
	z-index:4;
	left: 660px;
	top: 322px;
}
#dashboard {
	position:absolute;
	width:89px;
	height:16px;
	z-index:5;
	left: 621px;
	top: 186px;
}
#quality {
	position:absolute;
	width:72px;
	height:27px;
	z-index:6;
	left: 620px;
	top: 250px;
}

body {
	background-image: url(../mrDiziPix/mrbgOther.jpg);
}
#mrdizi {
	z-index:1;
	height: inherit;
	
}
#head {
	z-index:2;
}

#menuOtherpage {
	position:absolute;
	width:927px;
	height:290px;
	z-index:1;
	background-image: url(../mrDiziPix/fantasticMenuOther.png);
	top: 1px;
	left: -11px;
}
#foodSmoke {
	position:absolute;
	width:765px;
	height:113px;
	z-index:1;
	background-image: url(../mrDiziPix/foodsmoke.png);
	left: 102px;
	top: 0px;
}
#RawMaterials, #oRawMaterials {
	position:absolute;
	width:925px;
	height:203px;
	z-index:2;
	left: -13px;
	top: 272px;
}

#oRawMaterials {
	position:relative;
	margin:auto;
	top: 272px;
	left: 0px;
}

#tomato, #otomato {
	position:absolute;
	width:73px;
	height:73px;
	z-index:10;
	left: 29px;
	top: 8px;
	background-image: url(../mrDiziPix/tomato.png);
	cursor: pointer;
}
#spices, #ospices {
	position:absolute;
	width:149px;
	height:126px;
	z-index:10;
	left: 617px;
	top: 51px;
	background-image: url(../mrDiziPix/spices.png);
	cursor: pointer;
}
#meat,#omeat {
	position:absolute;
	width:199px;
	height:118px;
	z-index:10;
	left: 253px;
	top: 72px;
	background-image: url(../mrDiziPix/meat.png);
	cursor: pointer;
}
#potato, #opotato {
	position:absolute;
	width:80px;
	height:125px;
	z-index:10;
	left: 485px;
	top: 64px;
	background-image: url(../mrDiziPix/potato.png);
	cursor: pointer;
}
#bean, #obean {
	position:absolute;
	width:142px;
	height:102px;
	z-index:50;
	left: 786px;
	top: 6px;
	background-image: url(../mrDiziPix/bean.png);
	cursor: pointer;
}
#onion, #oonion{
	position:absolute;
	width:70px;
	height:111px;
	z-index:10;
	background-image: url(../mrDiziPix/onion.png);
	left: 139px;
	top: 35px;
	cursor: pointer;
}
#apDiv1 {
	position:absolute;
	width:968px;
	height:202px;
	z-index:1;
	left: -23px;
	top: 276px;
	background-image: url(../mrDiziPix/focus.png);
}
#menuItemHolder {
	position:relative;
	width:864px;
	z-index:3;
	left: 18px;
	top: 320px;
	background-repeat: repeat;
	background-image: url(../mrDiziPix/typography.gif);
	height: auto;
	padding-top: 40px;
	padding-bottom: 300px;
}
.itemHolder {
	position:relative;
	width:830px;
	height:247px;
	z-index:1;
	left: 35px;
	background-image: url(../mrDiziPix/menuItem.png);
	float: left;
	margin-top: 15px;
	background-repeat: repeat;
	clear: both;
}
.itemName {
	position:absolute;
	width:235px;
	height:23px;
	z-index:1;
	left: 228px;
	top: 38px;
	text-align: center;
	color: #c33232;
	/* [disabled]font-size:18px; */
}


.imgItem {
	position:absolute;
	width:176px;
	height:156px;
	z-index:2;
	left: 25px;
	top: 19px;
	background-image: url(../mrDiziPix/dizi.png);
}
.explain {
	position:absolute;
	width:518px;
	height:69px;
	z-index:3;
	left: 249px;
	top: 89px;
	padding-top: 10px;
	padding-left: 12px;
	text-align: justify;
	direction: rtl;
}
#footerEnd {
	position:relative;
	width:1130px;
	height:490px;
	z-index:1;
	left: -207px;
	background-image: url(../mrDiziPix/footerend.png);
	float: left;
	clear: both;
	top: -49px;
	padding-bottom: 50px;
	background-repeat: no-repeat;
}
#firstLine {
	position:absolute;
	width:865px;
	height:75px;
	z-index:2;
	left: 7px;
	top: -73px;
	background: url(../mrDiziPix/firsLine.png) no-repeat;
}


/************************************************************/
#beanNameLine, #obeanNameLine {
	position:absolute;
	width:167px;
	height:167px;
	z-index:7;
	left: 780px;
	background-image: url(../mrDiziPix/beanNameLine.png);
	top: 1px;
}
#beanTitle, #obeanTitle  {
	position:absolute;
	width:143px;
	height:18px;
	z-index:1;
	left: 23px;
	top: 149px;
}
.rawFont, .orawFont{
	
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #7C141D;
	text-align: center;
	direction:rtl;	
}



#spicesNameLine, #ospicesNameLine {
	position:absolute;
	width:183px;
	height:188px;
	z-index:8;
	left: 602px;
	top: 43px;
	background-image: url(../mrDiziPix/spicesNameLine.png);
}
#spicesTitle, #ospicesTitle {
	position:absolute;
	width:127px;
	height:15px;
	z-index:1;
	left: 18px;
	top: 169px;
}
#potatoNameLine, #opotatoNameLine {
	position:absolute;
	width:172px;
	height:186px;
	z-index:9;
	left: 449px;
	top: 54px;
	background-image: url(../mrDiziPix/potatoNameLine.png);
}
#potatoTilte, #opotatoTilte {
	position:absolute;
	width:147px;
	height:15px;
	z-index:1;
	left: 4px;
	top: 167px;
}
#meatNameLine, #omeatNameLine {
	position:absolute;
	width:190px;
	height:182px;
	z-index:10;
	left: 259px;
	top: 65px;
	background-image: url(../mrDiziPix/meatNameLine.png);
}
#meatTitle, #omeatTitle {
	position:absolute;
	width:151px;
	height:17px;
	z-index:1;
	left: 26px;
	top: 163px;
}
#onionNameLine, #oonionNameLine {
	position:absolute;
	width:172px;
	height:182px;
	z-index:11;
	left: 89px;
	top: 28px;
	background-image: url(../mrDiziPix/onionNameLine.png);
}
#onionTitle, #oonionTitle {
	position:absolute;
	width:124px;
	height:17px;
	z-index:1;
	left: 7px;
	top: 162px;
}
#tomatoNameLine, #otomatoNameLine {
	position:absolute;
	width:123px;
	height:135px;
	z-index:12;
	background-image: url(../mrDiziPix/tomatoNameLine.png);
	left: -4px;
	top: -1px;
}
#tomatoTitle, #otomatoTitle {
	position:absolute;
	width:138px;
	height:16px;
	z-index:1;
	left: -2px;
	top: 116px;
}
.rawmaterialhide{
	display:none;
}

#beanOutline{
	position:absolute;
	width:162px;
	height:469px;
	z-index:4;
	background-image: url(../mrDiziPix/beanOutline.png);
	left: 781px;
	top: 0px;
	display: none;
}

#overlay {
	position:absolute;
	width:100%;
	height:2000px;
	z-index:3;
	min-height: 100%;
	display: none;
	background-image: url(../mrDiziPix/overlayBg.png);
}

#mrdiziLink a:link, #mrdiziLinkTwo a:link{
	color: #565f03;
	text-decoration:none;

} 

#mrdiziLink a:hover, #mrdiziLinkTwo a:hover {
	color: #5e040c;
	border-bottom: 1px dashed #fec10e;
	padding-bottom:2px;
	
} 

#mrdiziLink a:visited, #mrdiziLinkTwo a:visited{
	color: #565f03;
	text-decoration:none;
	
}

#mrdiziLink a:active, #mrdiziLink a:active{
	color: #5e040c;
	border-bottom: 1px dashed #3d6453;
	padding-bottom:2px;
}

#spicesOutline {
	position:absolute;
	width:195px;
	height:472px;
	z-index:13;
	background-image: url(../mrDiziPix/spicesOutline.png);
	left: 603px;
	top: 42px;
	display: none;
}
#beanExp {
	position:absolute;
	width:126px;
	height:291px;
	z-index:1;
	left: 27px;
	top: 158px;
	color: #551119;
	text-align:right;      
}
#spiceExp {
	position:absolute;
	width:166px;
	height:326px;
	z-index:1;
	left: 21px;
	top: 165px;
	color: #551119;
	text-align:right;
}
#potatoOutline {
	position:absolute;
	width:127px;
	height:471px;
	z-index:14;
	left: 483px;
	top: 55px;
	background-image: url(../mrDiziPix/potatoOutline.png);
	display: none;
	cursor: pointer;
}
#potatoExp {
	position:absolute;
	width:94px;
	height:296px;
	z-index:1;
	left: 25px;
	top: 163px;
	color: #551119;
	text-align:right;
}
#meatOutline {
	position:absolute;
	width:186px;
	height:470px;
	z-index:15;
	left: 260px;
	top: 65px;
	background-image: url(../mrDiziPix/meatOutline.png);
	display: none;
}
#meatExp {
	position:absolute;
	width:160px;
	height:302px;
	z-index:1;
	left: 16px;
	top: 161px;
	color: #551119;
	text-align:right;
}
#onionOutline {
	position:absolute;
	width:123px;
	height:478px;
	z-index:16;
	left: 128px;
	top: 28px;
	background-image: url(../mrDiziPix/onionOutline.png);
	display: none;
}
#onionExp {
	position:absolute;
	width:110px;
	height:290px;
	z-index:1;
	left: 5px;
	top: 172px;
	color: #551119;
	direction: rtl;
	text-align:right;
}
#tomatoOutline {
	position:absolute;
	width:114px;
	height:462px;
	z-index:17;
	background-image: url(../mrDiziPix/tomatoOutline.png);
	left: 16px;
	top: -2px;
	display: none;
}
#tomatoExp {
	position:absolute;
	width:100px;
	height:296px;
	z-index:1;
	left: 6px;
	top: 153px;
	color: #551119;
	text-align:right;
	
}
#productOther {
	position:absolute;
	width:29px;
	height:56px;
	z-index:1;
	left: 321px;
	top: 45px;
	cursor: pointer;
}
#orderOther {
	position:absolute;
	width:36px;
	height:80px;
	z-index:10;
	left: 288px;
	top: 31px;
	cursor: pointer;
}
#contactOther {
	position:absolute;
	width:29px;
	height:50px;
	z-index:3;
	left: 359px;
	top: 35px;
	cursor: pointer;
}
#agancyOther {
	position:absolute;
	width:36px;
	height:78px;
	z-index:4;
	left: 552px;
	top: 39px;
	cursor: pointer;
}
#dashboardother {
	position:absolute;
	width:40px;
	height:86px;
	z-index:5;
	left: 584px;
	top: 19px;
	cursor: pointer;
}
#qualityother {
	position:absolute;
	width:33px;
	height:70px;
	z-index:6;
	left: 616px;
	top: 25px;
	cursor: pointer;
}
#gift {
	position:absolute;
	width:245px;
	height:146px;
	z-index:2;
	left: 366px;
	top: 283px;
	background-image: url(../mrDiziPix/footerGift.png);
}
#footLine {
	position:absolute;
	width:2px;
	height:146px;
	z-index:3;
	left: 697px;
	top: 289px;
	background-image: url(../mrDiziPix/footLine.png);
}
#mrdiziLink, #mrdiziLinkTwo {
	position:absolute;
	width:131px;
	height:122px;
	z-index:4;
	left: 854px;
	top: 303px;
	overflow: hidden;
}

#mrdiziLinkTwo {
	left: 709px;
	top: 302px;
}

#mohtavaBody {
	position:relative;
	width:762px;
	height:auto;
	z-index:5;
	margin: auto;
	background-image: url(../mrDiziPix/mohtavacontext.png);
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
#mohtavaHead {
	position:relative;
	width:822px;
	height:36px;
	z-index:6;
	background-image: url(../mrDiziPix/mohtavahead.png);
	margin: auto;
}
#PageTitle {
	position:absolute;
	width:672px;
	height:75px;
	z-index:1;
	top: -30px;
	background-image: url(../mrDiziPix/mohtavTitle.png);
	left: 226px;
}
body {
	background-image: url(../mrDiziPix/mrDIZIbg.jpg);
}
#title {
	position:absolute;
	width:575px;
	height:22px;
	z-index:1;
	left: 34px;
	top: 10px;
	font-size: 19px;
	text-align: right;
}
#mohtavaFoot {
	position:relative;
	width:838px;
	height:62px;
	z-index:7;
	background-image: url(../mrDiziPix/mohtavafoot.png);
	margin: auto;
	margin-bottom: 300px;
}
#Footnavigation {
	position:absolute;
	width:777px;
	height:48px;
	z-index:1;
	left: 35px;
	top: 3px;
}
#firstPage, .navPage  {
	position:relative;
	width:158px;
	height:45px;
	z-index:10;
	background-image: url(../mrDiziPix/navigate.png);
	float:left;
}

.navPage {
	background-image: url(../mrDiziPix/nav.png);
	float:left;
	background-repeat: no-repeat;
} 

#apDiv2  {
	position:absolute;
	width:110px;
	height:33px;
	z-index:2;
	left: 9px;
	top: 3px;
}
#navTitle  {
	position:absolute;
	width:113px;
	height:15px;
	z-index:1;
	left: 23px;
	top: 13px;
	font-size: 10px;
	font-family: Tahoma, Geneva, sans-serif;
}


#navPoint{
	position:absolute;
	width:18px;
	height:20px;
	z-index:2;
	background-image: url(../mrDiziPix/navpointer.png);
	left: -8px;
	top: 12px;
}



#listItemHolder {
	position:relative;
	width:778px;
	height:178px;
	z-index:4;
	top: 0px;
	background-image: url(../mrDiziPix/listItemBg.png);
	margin: auto;
	margin-bottom: 50px;
}
#listItemHolder_text {
	position:absolute;
	width:488px;
	height:86px;
	z-index:1;
	left: 23px;
	top: 30px;
}
#postImage {
	position:absolute;
	width:161px;
	height:102px;
	z-index:2;
	left: 577px;
	top: 21px;
}
#gotoPost {
	position:absolute;
	width:10px;
	height:10px;
	z-index:3;
	left: 8px;
	top: 117px;
}
#listItemHolderTitleHolder {
	position:absolute;
	width:672px;
	height:75px;
	z-index:4;
	left: 44px;
	top: -53px;
	background-image: url(../mrDiziPix/mohtavTitle.png);
}
#listItemHolderTitle {
	position:absolute;
	width:567px;
	height:22px;
	z-index:1;
	left: 41px;
	top: 10px;
	color: #d31919;
	font-size: 19px;
	text-align: right;
	direction: rtl;
}

#pagination {
	position:absolute;
	width:281px;
	height:41px;
	z-index:5;
	left: 402px;
	top: 52px;
	background-image: url(../mrDiziPix/paignation.png);
	padding-left: 20px;
	padding-right: 40px;
	text-align: center;
	padding-top: 10px;
	color: #7d0515;
}

#pagination a{ text-decoration:none; color: #7d0515; }
#pagination a:link{ text-decoration:none; color: #7d0515; }
#pagination a:hover{ text-decoration:none; color: #007949; }
#pagination a:visited{ text-decoration:none; color: #c10016; }
