.inline-picker .table-icons {
    width:350px!important;
}

.inline-picker .iconpicker input.search-control {
    margin: 6px;
    width:334px!important;
}
.inline-picker .table-icons td {
    text-align: center;
}



.table-icons span {
        font-family: yekan;
    font-size: 11px;
}


/******* dropdown *******/
.dropdownpicker .icn-picker{
    direction:ltr;
}

.iconpicker-popover {
    direction:rtl;


    background-color:none;
    background-image:none;
    border: none;
}


    .iconpicker-popover .table-icons {
        padding: 10px;
        text-align: left;
        white-space: normal;
        background-color: #fff!important;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.2);
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        position: relative;
        /*right: -270px;
        top: -2px;*/
        border-collapse: unset!important;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }


.iconpicker-popover.bottom>.arrow {
    z-index: 1;
}

.iconpicker-popover  .popover-content {
    padding: unset!important;
}



.iconpicker-popover  > .arrow {
    top: -9px!important;
}