<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="AXIS" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sms.magfa.com/services/urn:SOAPSmsQueue" binding="basicHttpBinding" bindingConfiguration="TSOAPSoapBinding" contract="MagfaSMSService.SoapSmsQueuableImplementation" name="TSOAP" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="WebSiteURL" value="http://IranPGC.com" />
    <add key="ImageRoot" value="~/UserFiles/images/" />
    <add key="FilesRoot" value="~/UserFiles/files/" />
  </appSettings>
  <connectionStrings>
    <add name="pgcEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Integrated Security=SSPI;MultipleActiveResultSets=true;Persist Security Info=False;Initial Catalog=pgc;Data Source=.&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="pgcEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=pgc;Data Source=(LocalDb)\v11.0&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    
    <httpRuntime requestValidationMode="2.0" executionTimeout="7200" maxRequestLength="10240" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Guest/Login.aspx" timeout="30" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="kfk" namespace="kFrameWork.WebControls" assembly="kFrameWork" />
        <add tagPrefix="kfk" src="~/UserControls/Common/GridViewExport.ascx" tagName="GridViewExport" />
        <add tagPrefix="kfk" src="~/UserControls/Common/Lookup.ascx" tagName="Lookup" />
        <add tagPrefix="kfk" src="~/UserControls/Common/LookupCombo.ascx" tagName="LookupCombo" />
        <add tagPrefix="kfk" src="~/UserControls/Common/NormalTextBox.ascx" tagName="NormalTextBox" />
        <add tagPrefix="kfk" src="~/UserControls/Common/NumericRange.ascx" tagName="NumericRange" />
        <add tagPrefix="kfk" src="~/UserControls/Common/NumericTextBox.ascx" tagName="NumericTextBox" />
        <add tagPrefix="kfk" src="~/UserControls/Common/PersianDatePicker.ascx" tagName="PersianDatePicker" />
        <add tagPrefix="kfk" src="~/UserControls/Common/PersianDateRange.ascx" tagName="PersianDateRange" />
        <add tagPrefix="kfk" src="~/UserControls/Common/TimePicker.ascx" tagName="TimePicker" />
        <add tagPrefix="kfk" src="~/UserControls/Common/Loading.ascx" tagName="Loading" />
        <add tagPrefix="kfk" src="~/UserControls/Common/UserMessageViewer.ascx" tagName="UserMessageViewer" />
        <add tagPrefix="kfk" src="~/UserControls/Project/RightPanel.ascx" tagName="RightPanel" />
        <add tagPrefix="kfk" namespace="UI.Controls.ckeditor" />
        <add tagPrefix="kfk" src="~/UserControls/Common/ckeditor/custom/HtmlEditor.ascx" tagName="HtmlEditor" />
        <add tagPrefix="kfk" src="~/UserControls/Common/FileUploader/FileUploader.ascx" tagName="FileUploader" />
        <add tagPrefix="kfk" src="~/UserControls/Project/IconPicker.ascx" tagName="IconPicker" />
        <add tagPrefix="kfk" src="~/UserControls/Project/HTMLEditor.ascx" tagName="CkHtmlEditor" />
      
      </controls>
    </pages>
  </system.web>
  <!--<appSettings>
    <add key="validationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>-->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="CAPTCHAHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add name="ImageHandler for JPG" path="*.jpg" verb="GET" type="ImageHandler.HttpImageHandler" resourceType="File" />
      <add name="ImageHandler for GIF" path="*.gif" verb="GET" type="ImageHandler.HttpImageHandler" resourceType="File" />
      <add name="ImageHandler for BMP" path="*.bmp" verb="GET" type="ImageHandler.HttpImageHandler" resourceType="File" />
      <add name="ImageHandler for PNG" path="*.png" verb="GET" type="ImageHandler.HttpImageHandler" resourceType="File" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.asp" />
        <add value="Default.htm" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>